/* Allgemeines Styling für die Seite */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Startseite Styling */
#start-page {
    text-align: center;
    margin-bottom: 20px;
}

/* Styling für den Button "Start Quiz to Donate" */
#start-btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 24px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Amasis MT Pro Black', sans-serif;
}

#start-btn:hover {
    background-color: #45a049;
}

/* Styling für die Sprachwahl */
#language-options {
    margin-top: 20px;
}

#language-options button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    background-color: #f0f4f8;
    border: 1px solid #ddd;
}

#language-options button:hover {
    background-color: #ddd;
}

/* Quiz-Seite Styling */
#quiz-page {
    text-align: center;
    width: 100%;
}

/* Styling für die Antwort-Buttons */
.answer-btn {
    background-color: #008CBA;
    color: white;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 15px 10px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.answer-btn:hover {
    background-color: #005f75;
}

/* Styling für das Ergebnis */
#result-page {
    text-align: center;
    width: 100%;
    padding: 20px;
}

/* Styling für die Überschrift */
h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* Schriftart und Größe für die Fragen */
#question {
    font-family: 'Bahnschrift', sans-serif;
    font-weight: semi-bold;
    font-size: 48px;
    margin-bottom: 20px;
}

/* Styling für das Antwort-Feedback */
#answer-feedback {
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

/* Styling für das "korrekt"/"falsch" Feedback */
#answer-feedback.correct {
    background-color: #d4edda;
    color: #155724;
}

#answer-feedback.incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

/* Allgemeine Buttons */
button {
    cursor: pointer;
}

/* Responsives Design für kleinere Bildschirme */
@media (max-width: 600px) {
    #question {
        font-size: 30px;
    }
    #start-btn, .answer-btn {
        padding: 12px 24px;
        font-size: 20px;
    }
    h2 {
        font-size: 24px;
    }
}
